<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cmc-IoT Microservice</title>
</head>
<body>
    <div class="container">
        <h1> <%= title %> </h1>
        <h2><%= description %></h2>

    </div>
</body>
</html>